<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />		
    </startup>
	<connectionStrings>
    <!--AGUS-->
    <add name="academiaConnectionString" connectionString="Data Source=NBK-AGUS\SQLDEVELOPER;User ID=sa;Password=H3ll0Query;Initial Catalog=academia;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <!--LEA-->
    <!--<add name="academiaConnectionString" connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=Academia;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
	</connectionStrings>
  
</configuration>

