@{
    ViewBag.Title = "Login Page";
    var usuario = Session["User"] as Academia.Entities.usuarios;

}


@using Academia.Entities

<div class="jumbotron">
    <h1>Hola @usuario.nombre_usuario !</h1>
    <p class="lead">ALUMNO: Bienvenido al sistema</p>
</div>

<div class="row">
    <ul class="">
        <a href=""></a>
        <li>@Html.ActionLink("Inscribirme a materia", "", "materias")</li>

        <li>@Html.ActionLink("Mis inscripciones", "Inscripciones", "Usuario", new { id = usuario.id_persona }, null)</li>
    </ul>
</div>