@model IEnumerable<Academia.Entities.docentes_cursos>

@{
    ViewBag.Title = "Inscripciones";
}

<h2>Inscripciones</h2>

<table class="table">
    <tr>
        <th>
            Nº Curso
        </th>
        <th>
            Asignatura
        </th>
        <th>
            Acción
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cursos.id_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cursos.materias.desc_materia)
        </td>
        <td>
            @Html.ActionLink("Ver", "Details", "Curso", new { id = item.cursos.id_curso }, null)
        </td>
    </tr>
}

</table>
